/bin/*
!/bin/classes/MyReactions.apk
gen/
a.settings/
.classpath
.project
.properties
*/*.class

/.settings/org.eclipse.core.resources.prefs
/ic_launcher-web.png
/proguard-project.txt
/project.properties
/local.properties
/gen

/lint.xml

.idea


*.prefs

*.iml

*.class
